# This requirements file has been kept as is from the original samplemod.
# Its really not being used right now.

pytest
# sphinx  # Documentation
setuptools # To install argus_tal package itself
coverage
jsonschema
pandas
